---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Andreas Stocker's Dream"
	pubDate={new Date('July 10 2024')}
>
	<p>
		My name is Andreas Stocker and I've dreamed of the "ultimate system" for many years now.
	</p>
	<p>
		I spent several years researching computational models / languages like <a class="link" href="https://github.com/TimelyDataflow/timely-dataflow">Timely Dataflow</a>,
		<a href="https://github.com/rntz/datafun" class="link">Datafun</a> and
		<a href="https://higherorderco.com/" class="link">Bend</a>.
	</p>
	<p>
		After some time I also began to learn more about hardware like FPGA's and Verilog.
		A major milestone in my journey of hardware design was the creation of my own TinyFPGA bitstream generator.
		With this I had reached the lowest level possible on the computational stack.
	</p>
	<p>
		In early 2024 I created my first reasonably complex programming language with the creation of the "XFlow"
		fullstack DB <code>version 0.1.0</code>. However I realized I wanted to dive deeper down the hardware / softare stack.
		In mid 2024 I first made concrete plans for this new, lower level "XFlow" and started this news blog.
	</p>
</Layout>
