---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>What is XFlow?</h1>

			<p>
				XFlow is an ambitious attempt to <b>reimagine the modern hardware and softare stack</b>.
			</p>

			<h3>
				Why Start from Scratch?
			</h3>
		</main>
		<Footer />
	</body>
</html>

<style>
	.empty {}
</style>