---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Layout from '../layouts/BlogPost.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>What is XFlow?</h1>

			<p>
				XFlow is an ambitious attempt to <b>reimagine the modern hardware and softare stack</b>.
			</p>

			<h3>
				What does this New Stack Look Like?
			</h3>

			<p>
				At the lowest level of XFlow's stack will be an FPGA bytestream generator.
			</p>

			<p>
				Essentially this allows a digital circuit to be created from scratch.
			</p>

			<p>
				Above that will be a language <code>xflow-lang</code> and a database <code>xflow-qengine</code>.
				This language will allow the database to be queried and will be built on tech from <code>Timely Dataflow</code>
				that allows ultra-efficient incremental queries.
			</p>
			
			<p>
				Above this data layer will be a UI layer as well as a Network layer.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.empty {}
</style>