---
import Layout from "../layouts/BlogPost.astro";
import Milestone from "../components/Milestone.astro";
---

<Layout
	title="Milestones"
	description="Progress"
	pubDate={new Date("July 11 2024")}
>
	<div>
		<Milestone
			status="complete"
			label="Blog / News Site"
			goal="10-7-2024"
			actual="10-7-2024"
		/>
		<Milestone status="in-progress" label="Data Layer" goal="1-1-2026" />
		<ul>
			<Milestone status="in-progress" label="Research" goal="1-1-2025" />
			<ul>
				<Milestone
					status="in-progress"
					label="Rev Engineer Timely Dataflow"
				/>
				<Milestone
					status="not-started"
					label="Rev Engineer Aya Prover"
				/><Milestone
					status="not-started"
					label="Learn Verilog Proofs"
				/>
			</ul>

			<Milestone
				status="not-started"
				label="Implementation"
				goal="1-1-2026"
			/>

			<ul>
				<Milestone
					status="not-started"
					label="ECP5 FPGA Bytestream Generator"
				/>
				<Milestone status="not-started" label="ECP5 FPGA Simulator" />
				<Milestone status="not-started" label="Query Engine" />
				<Milestone status="not-started" label="Query / Proof Language" />
			</ul>
		</ul>
		<Milestone status="not-started" label="UI Layer" goal="1-1-2027" />
		<Milestone status="not-started" label="Networking Layer" goal="1-1-2028" />
	</div>
</Layout>

<style>
	ul {
		margin-left: 60px;
		margin-bottom: 5px;
	}
</style>
