---
import Layout from "../layouts/BlogPost.astro";
import Milestone from "../components/Milestone.astro";
---

<Layout
	title="Milestones"
	description="Progress"
	pubDate={new Date("July 11 2024")}
>
	<div>
		<ul>
			<li>
				<Milestone status="complete" label="Blog / News Site" goal="10-7-24" actual="10-7-24" />
			</li>
		</ul>
		<ul>
			<li>
				<Milestone status="in-progress" label="Data Layer" goal="1-1-26" />
			</li>
			<ul>
				<li>
					<code class="status in-progress">IN PROGRESS</code> Research
				</li>
				<ul>
					<li>
						<code class="status in-progress">IN PROGRESS</code> Rev Engineer
						Timely Dataflow
					</li>
					<li>
						<code class="status">NOT STARTED</code> Rev Engineer Aya
						Prover
					</li>
					<li>
						<code class="status">NOT STARTED</code> Learn Verilog Proofs
					</li>
				</ul>
			</ul>
		</ul>
	</div>
</Layout>

<style>
	ul {
		margin-left: 60px;
		margin-bottom: 5px;
	}

	li {
		margin: 10px;
		display: flex;
	}
</style>
