---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em 0 1em;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		background: var(--blue-dark);
	}
	h2 {
		margin: 0;
		font-size: 1.5em;
		background: linear-gradient(var(--gold-light), var(--gold-dark));
		/* background: var(--gold-light); */
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	h2 a,
	h2 a.active {
		color: var(--white);
	}
	nav {
		background: linear-gradient(var(--gold-light), var(--gold-dark));
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 1000px;
		margin: auto;
	}
	nav a {
		padding: 1em 0.5em;
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
	}
	.internal-links {
		font-size: 1.3em;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
